@using BlogWeb.Models.Entity
@model List<TBLMETATAG>

@foreach(var item in Model) {
<meta name="abstract" content="@item.Abstract">
<meta name="author" content="@item.Author">
<meta name="description" content="@item.Description">
<meta name="Keywords" content="@item.Keywords">
<title>@item.Title</title>
}