@using BlogWeb.Models.Entity
@model List<BlogWeb.Models.Entity.TBLiletisim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<table class="table table-striped" style="margin-top:100px;">

    <tr style="background-color:rgb(252,178,22)">
        <th>İletisim Id</th>
        <th>Kimden</th>
        <th>Mail</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Detay</th>
    </tr>
    @foreach (var iletisim in Model)
    {
        <tr>
            <td>@iletisim.ID</td>
            <td>@iletisim.AdveSoyad</td>
            <td>@iletisim.Mail</td>
            <td>@iletisim.Konu</td>
            <td>@Convert.ToDateTime(iletisim.Tarih).ToString("dd/MM/yyyy")</td>
            <td><a href="/iletisim/iletisimSil/@iletisim.ID" class="btn btn-danger" onclick="return sor()">Sil</a></td>
            <td><a href="/iletisim/iletisimGetir/@iletisim.ID" class="btn btn-success">Detay</a></td>
        </tr>
    }
</table>
