
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Panel.cshtml";
}


<table class="table table-striped" style="margin-top:100px;">

    <tr style="background-color:rgb(252,178,22)">
        <th>Meta Id</th>
        <th>Site Özeti</th>
        <th>Site Yapımcısının Adı</th>
        <th>Site İceriği Acıklama</th>
        <th>Anahtar Kelimeler</th>
        <th>Site Baslık</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var meta in Model)
    {
        <tr>
            <td>@meta.ID</td>
            <td>@meta.Abstract</td>
            <td>@meta.Author</td>
            <td>@meta.Description</td>
            <td>@meta.Keywords</td>
            <td>@meta.Title</td>
            <td><a href="/Meta/MetaSil/@meta.ID" class="btn btn-danger" onclick="return sor()">Sil</a></td>
            <td><a href="/Meta/MetaGetir/@meta.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
