@using BlogWeb.Models.Entity
@model List<BlogWeb.Models.Entity.TBLEGITIM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<table class="table table-striped" style="margin-top:100px;">

    <tr style="background-color:rgb(252,178,22)">
        <th>Eğitim Id</th>
        <th>Okul Adı</th>
        <th>Bölüm</th>
        <th>Eğitim Acıklama</th>
        <th>Not</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var egitim in Model)
    {
        <tr>
            <td>@egitim.ID</td>
            <td>@egitim.BASLIK</td>
            <td>@egitim.ALTBASLIK</td>
            <td>@egitim.ACIKLAMA</td>
            <td>@egitim.NOT</td>
            <td>@egitim.TARIH</td>
            <td><a href="/Eğitim/EğitimSil/@egitim.ID" class="btn btn-danger" onclick="return sor()" >Sil</a></td>
            <td><a href="/Eğitim/EğitimGetir/@egitim.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

